@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: rgb(234, 231, 231);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

#auth_form {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	min-width: 800px;
}

#logo {
	font-family: 'Anton', sans-serif;
	letter-spacing: 1.5px;
}

.cursor {
	cursor: pointer;
}

.proposer {
	cursor: pointer;
	text-decoration: underline;
}

.tag {
	cursor: pointer;
}

.tag:hover {
	background-color: #d7d4d4;
}

@media only screen and (max-width: 600px) {
	#auth_form {
		min-width: 400px;
	}
}